.forgotPass {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  width: 368px;
  text-align: center;
  font-family: var(--nunito);
  color: var(--darkBlue);
}

.loginWith {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 368px;
  gap: 10px;
}

.google {
  font-size: 40px;
  cursor: pointer;
}
.facebook {
  font-size: 36px;
  color: #0866ff;
  cursor: pointer;
}

.loginBox {
  border-radius: 15px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.loginBox .img {
  width: 100%;
  background: url(../../assets/loginImg.jpg) no-repeat center / cover;
}

.loginBox .overlay {
  padding: 60px 0;
  background-color: rgba(0, 0, 0, 0.593);
}
.loginFormBox {
  margin-top: 25px !important;
}