.forgotMain {
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(238, 234, 234); */
  background: linear-gradient(
    115deg,
    rgba(190, 116, 46, 0.657),
    rgba(0, 100, 128, 0.657)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotBox {
  -webkit-box-shadow: 1px 25px 60px -16px rgba(255, 88, 69, 0.517);
  -moz-box-shadow: 1px 25px 60px -16px rgba(255, 88, 69, 0.517);
  box-shadow: 1px 25px 60px -16px rgba(255, 88, 69, 0.517);
  width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}

.forgotBox .img {
  background: url(../../assets/forgotPass.jpg) no-repeat center / cover;
}

.forgotBox .img .overlay {
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.438);
}

.forgotBox .img .overlay h3 {
  color: white;
  text-align: center;
  font-family: var(--nunito);
  font-size: 20px;
  font-weight: 600;
}

.forgotMain .input {
  width: 318px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.label {
  font-family: var(--nunito);
  font-weight: 600;
  color: var(--darkBlue);
  padding: 0 19px;
  background-color: white;
  position: absolute;
  top: 18px;
  left: 30px;
  z-index: 999;
}

.css-bz5ng3-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
}

.forgotBtn {
  margin-left: 0 !important;
  margin-top: 20px;
}
